@import url(../../css/estilo.css);
  .container-main-aside {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .main-principal,
  .aside-principal {
    flex-grow: 1;
  }
  
  .main-principal {
    width: 75%;
  }
  
  .aside-principal {
    width: 25%;
  }
  
  .container-recetas {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
  
  .container-recetas article {
    width: 45%;
    height: 50%;
    margin-left:40px;
    margin-top:5px;
    text-align: center;
  }
  
  .container-recetas article p:nth-of-type(1) {
    border-right: none;
    border-left: none;
    border-top: blue solid;
    border-bottom: blue solid;
  }
  
  .container-recetas article figure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .container-recetas article figure img {
    height: 60%;
    width: 100%;
  }
  
  .container-recetas article figure figcaption {
    height: 50%;
    width: 100%;
  }
  
  .container-recetas article figure figcaption h3 a {
    color: black;
    text-decoration: none;
  }
  
  .publicidad {
    color: #8a8070;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
  }
  
  .negrita {
    color: black;
    font-weight: bold;
  }
  
  .libro {
    background-color: #eee;
    text-align: center;
  }
  
  .submit button {
    display: flex;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border: 1px solid #7aba96;
    background-color: #7aba96;
    border-bottom: #7aba96;
  }
